[project]
	description = Keystone-LDAP Configuration Tool
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomas Hsiao (myhpe)
[access "refs/for/refs/*"]
	read = group user/Thomas Hsiao (myhpe)
	push = group user/Thomas Hsiao (myhpe)
	label-Code-Review = -2..+2 group user/Thomas Hsiao (myhpe)
	label-Verified = -1..+1 group user/Thomas Hsiao (myhpe)
	rebase = group user/Thomas Hsiao (myhpe)
	removeReviewer = group user/Thomas Hsiao (myhpe)
	submit = group user/Thomas Hsiao (myhpe)
[access "refs/heads/*"]
	read = group user/Thomas Hsiao (myhpe)
	create = group user/Thomas Hsiao (myhpe)
	push = +force group user/Thomas Hsiao (myhpe)
	pushMerge = group user/Thomas Hsiao (myhpe)
[access "refs/tags/*"]
	push = +force group user/Thomas Hsiao (myhpe)
	pushTag = group user/Thomas Hsiao (myhpe)
	pushSignedTag = group user/Thomas Hsiao (myhpe)
