[loggers]
keys=root

[logger_root]
level=NOTSET
handlers=screen,file

[formatters]
keys=simple,complex

[formatter_simple]
format=%(name)s: %(asctime)s - %(levelname)s - %(message)s

[formatter_complex]
format=%(name)s: %(asctime)s - %(levelname)s - %(module)s %(funcName)s: %(lineno)d - %(message)s

[handlers]
keys=file,screen

[handler_file]
class=handlers.RotatingFileHandler
#interval=midnight
backupCount=5
formatter=complex
level=DEBUG
args=('../klct.log', 'w')

[handler_screen]
class=StreamHandler
formatter=complex
#formatter=simple
level=INFO
args=(sys.stdout,)